**NOTE: Distributing or uploading this course material to a public repository (e.g., GitHub) is strictly prohibited.**

## **Database Creation**

We want to implement an OpenCourseWare service using SQLite3. For this purpose, we will create the following four tables:

-  `"kmooc_instructor"` - instructor information
-  `"kmooc_course"` - course information 
-  `"kmooc_learningpath"` - learning path (or curriculum) information
-  `"kmooc_learningpath_courses"` - mapping between courses to learning paths

The given 'create_database_proj1.sql' file contains the definition of the schema and a sample set of the tuples. You can download it from [here](https://drive.google.com/file/d/1IOSBZ2a2WWvgkTKfR5lcel0PIC_uo0wq/view?usp=share_link).

Please see the file for detailed schema.

We will implement several core modules of the service.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import sqlite3
 
conn = sqlite3.connect('kmooc.sqlite3')
cur = conn.cursor()

# Enter your solution here
# Execute the SQL statements in 'create_database_proj1.sql'.
# First, upload the file on your Google Drive folder.
# If you placed this file in the 'MyDrive' folder, its path is '/content/drive/MyDrive/create_database_proj1.sql'.

conn.commit()
conn.close()

## **Module 1**

We need to extract the top 10 highest rated courses from this database.

Create a query that will join the tables `"kmooc_course"` and `"kmooc_instructor"` (LEFT JOIN) and extract the top 10 courses (*rating* column of the `"kmooc_course"` table).

Display the following columns in the output table:

- *title* (`"kmooc_course"` table)
- *rating* (`"kmooc_course"` table)
- *instructor* - concatenation of the *first_name* and *last_name* columns with a space character (`"kmooc_instructor"` table)

Sort the output table in the descending order of the *rating* column.

Note that the third column is made by concatenating the *first_name* and *last_name* columns.

**Format**:
>```
('course_title', course_rating, 'first_name last_name')
...
```

Print the result using the code cell below.

In [ ]:
import sqlite3

conn = sqlite3.connect('kmooc.sqlite3')
cur = conn.cursor()

# Enter your solution here

conn.commit()
conn.close()

## **Module 2**

We need to extract all the names of the learning paths with the names of the courses included in the path and the subcategory of each component course (see below).

Display the following columns in the output table:

- *title* column from `"kmooc_learningpath"` table, aliased as `"path_title"`
- *title* column from `"kmooc_course"` table, aliased as `"course_title"`
- *subcategory* column from the `"kmooc_course"` table

Sort the output table in the ascending order of the *path_title* and *course_title* columns. Limit the result to the first 10 records.

**Format**:
>```
('path_title', 'course_title', 'course_subcategory')
...
```

Print the result using the code cell below.

In [ ]:
import sqlite3

conn = sqlite3.connect('kmooc.sqlite3')
cur = conn.cursor()

# Enter your solution here

conn.commit()
conn.close()

## **Module 3**

We need to extract all the names of the learning paths with the number of courses in each path (see below).

Display the following columns in the output table:

- *title* column from `"esmartdata_learningpath"` table, aliased as `"path_title"`
- *num_courses* - the number of courses for a given path

Sort the output table in the descending order of the *num_courses* column.

**Format**:
>```
('path_title', num_courses)
...
```

Print the result using the code cell below.

In [ ]:
import sqlite3

conn = sqlite3.connect('kmooc.sqlite3')
cur = conn.cursor()

# Enter your solution here

conn.commit()
conn.close()

## **Module 4**

We need to extract all the names of the learning paths with the names of the courses included in the path and the name of each course's instructor (see below).

Display the following columns in the output table:

- *title* column from `"kmooc_learningpath"` table, aliased as `"path_title"`
- *title* column from `"kmooc_course"` table, aliased as `"course_title"`
- *instructor* - concatenation of the *first_name* and *last_name* columns with a space character (`"kmooc_instructor"` table)

Sort the output table in the ascending order of the *path_title* and *course_title* columns. Limit the result to the first 10 records.

**Format**:
>```
('path_title', 'course_title', 'first_name last_name')
...
```

Print the result using the code cell below.

In [ ]:
import sqlite3

conn = sqlite3.connect('kmooc.sqlite3')
cur = conn.cursor()

# Enter your solution here

conn.commit()
conn.close()

## **Module 5**

We need to extract the number of courses for each instructor in all learning paths.

Display the following columns in the output table:

 - *title* column from `"kmooc_learningpath"` table, aliased as `"path_title"`
 - *instructor* - concatenation of the *first_name* and *last_name* columns with a space character (`"kmooc_instructor"` table)
 - *num_courses* - number of courses per instructor in the given learning path

Sort the output table in the ascending order of the *path_title* and *instructor* columns.


**Format**:
>```
('path_title', 'first_name last_name', num_courses)
...
```

Print the result using the code cell below.

In [ ]:
import sqlite3

conn = sqlite3.connect('kmooc.sqlite3')
cur = conn.cursor()

# Enter your solution here

conn.commit()
conn.close()

## **Module 6**

We need to extract the number of courses at the category, sub-category, and instructor levels (see below).

Display the following columns in the output table:

 - *category* column from the `"kmooc_course"` table
 - *subcategory* column from the `"kmooc_course"` table
 - *instructo*r - concatenation of the *first_name* and *last_name* columns with a space character (`"kmooc_instructor"` table)
 - *num_courses* - number of courses per *category*, *subcategory* and *instructor*

Sort the output table in the descending order of the *num_courses* column. 

**Format**:
>```
('category', 'subcategory', 'first_name last_name', num_courses)
...
```

Print the result using the code cell below.

In [ ]:
import sqlite3

conn = sqlite3.connect('kmooc.sqlite3')
cur = conn.cursor()

# Enter your solution here

conn.commit()
conn.close()